name: CI (e2e)

on:
  push:
    branches:    
    - main 
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  import-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]
        module-type: [esm]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          package-manager-cache: false
          
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: |
            - recursive: true
              args: [--no-frozen-lockfile]
  
      - name: Test
        working-directory: tests/${{ matrix.module-type }}
        run: pnpm build && pnpm test
